<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Deadlock Armory</h5>
                <p>We Have What You Need</p>
            </div>
            <div class="col-md-4">
                <h5>Confidentially ?</h5>
                <ul class="list-unstyled">
                    <li>Everything Is Under Control</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontak</h5>
                <p>
                    <i class="fas fa-envelope"></i> admindeadlockarmory@gmail.com<br>
                    <i class="fas fa-phone"></i> +62 812-3456-7890
                </p>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p>&copy; 2026 Deadlock . All rights reserved.</p>
        </div>
    </div>
</footer>