<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TubesPWEB/
    
    # Allow direct access to public folder
    RewriteCond %{REQUEST_URI} ^/TubesPWEB/public/ [OR]
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^(.*)$ - [L]
    
    # Allow real files and directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Everything else to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
